.heroDiv {
    width: 100%;
    background-position: center;
    background-size: cover;
    box-shadow: black 0 0 18px inset;
}

@media(max-width: 768px) {
    .heroDiv {
        height: 35vh;
        background-position: center;
        background-size: cover;
    }
}